@use "../abstracts/variables";
@use '../abstracts/mixins';
@use '../base/animations';
.intro {
  min-height: 100vh;
  @extend .centerColumn;
  justify-content: center;

  .intro__main--header {
    font-size: calc(max(1rem, min(1.5rem, 10rem)));

    @supports (font-size: clamp(2rem, 4rem, 12rem)) {
      font-size: clamp(1rem, 1.5rem, 10rem);
    }
  }
  .intro__desc {
    font-size: calc(max(1rem, min(0.5rem + 0.8vw, 5rem)));

    @supports (font-size: clamp(1rem, 0.5rem + 0.8vw, 5rem)) {
      font-size: clamp(1rem, 0.5rem + 0.8vw, 5rem);
    }
  }

  .intro__main--name {
    font-size: calc(max(3.3rem, min(1rem + 4vw, 12rem)));

    @supports (font-size: clamp(3.3rem, 1rem + 4vw, 12rem)) {
      font-size: clamp(3.3rem, 1rem + 4vw, 12rem);
    }
  }

  .intro__linkList {
    display: none;

    display: flex;
    list-style: none;
    gap: 0 2rem;
    padding: 1rem 0 0 0;

    .intro__linkListItem {
      font-weight: bold;
      text-decoration: none;
      color: variables.$text-color;

      @supports (font-size: clamp(1rem, 0.5rem + 0.8vw, 5rem)) {
        font-size: clamp(1rem, 0.5rem + 0.8vw, 5rem);
      }

      &:visited {
        color: variables.$text-color;
      }
    }
  }
}
