@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.navbar {
  top: 0;
  background-color: variables.$background-color;
  height: 3.5rem;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 3;
  .navbar__logo {
    display: inline-block;
    height: 2.25rem;
    margin: 1rem;
  }

  .navbar__items {
    display: none;
    visibility: hidden;
    @include mixins.breakpoint("1000") {
      display: block;
      visibility: visible;
    }
    .navbar__items--link {
      margin: 1.9rem;
      font-size: 1.2rem;
      text-decoration: none;
      position: relative;
      color: variables.$text-color;
    }
  }
}
.nav-scrolled {
  $navbar-color: black;
  background-color: $navbar-color;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16),
    0 2px 5px 0 rgba(255, 255, 255, 0.12);
}
