@use "../abstracts/variables";
@use "../abstracts/mixins";

.project-container {
  min-height: 100vh;
  margin-top: 9rem;

}
.project-item {

  &:last-child {
    padding-bottom: 4rem;
  }
}
.project-grid {
  h3 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
  }
}
.project-item-wrapper {
  @include mixins.breakpoint("1200") {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: end;
    justify-items: center;

    margin-bottom: 4rem;
  }
}
.project-grid__item {
  display: inline-block;

  text-decoration: none;
  color: variables.$text-color;

  @include mixins.breakpoint("1200") {
    grid-area: 1/9/4/-1;
    padding: 1rem 0;
  }

  .project-grid-item-desc {
    padding: 1.7rem;
    margin-bottom: 2rem;
    background-color: #3c387d;
    border: 0.2rem solid white;
    min-width: 15rem;

    max-width: 18rem;

    font-size: calc(max(1.3rem, min(1.1vw, 1.5rem)));
    @supports (font-size: clamp(1.3rem, 1.1vw, 1.5rem)) {
      font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    }

    @include mixins.breakpoint("1200") {
      margin-bottom: 0;
      max-width: 30rem;
      &:hover {
        box-shadow: 5px 13px 20px 0px rgba(222, 227, 237, 0.3);
      }
    }

    .project-item-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 0.9rem;
      padding-top: 0.9rem;
      .project-item-tag {
        font-weight: bold;
      }
    }
  }

  a {
    text-decoration: none;
    color: variables.$text-color;
  }
}

.project__main-header {
  padding: 3rem 0;
  text-align: center;
  font-size: calc(max(2rem, min(2vw, 12rem)));

  @supports (font-size: clamp(2rem, 2vw, 12rem)) {
    font-size: clamp(2rem, 2vw, 12rem);
  }
}

.project-img {
  display: none;
  @include mixins.breakpoint("1200") {
    display: block;
    grid-area: 1/1/2/13;

    transition: all 0.1s ease-in-out;
    &:hover {
      z-index: 2;
    }
  }
}

.project-item-wrapper:nth-of-type(2n) {
  .project-img {
    grid-area: 1/11/4/-1;
  }
}

.project-item-wrapper:nth-of-type(even) {
  .project-grid__item {
    grid-area: 1 / 1/ 2 / 13;
  }
}
.project-item-wrapper:nth-of-type(odd) {
  .project-grid__item {
    grid-area: 1/11/4/-1;
  }
}


