@use "../abstracts/mixins";
@use "../abstracts/variables";

.techSkillTitle {
  color: variables.$text-color;
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
  white-space: nowrap;
}

.tech-skill {
  @extend .centerColumn;
  font-size: 3.5rem;
}

.embla {
  position: relative;
  padding: 20px 0;
  max-width: 310px;

  @include mixins.breakpoint("450") {
    max-width: 400px;
  }

  @include mixins.breakpoint("1200") {
    max-width: min-content;
  }
}
.embla__container {
  display: flex;
  user-select: none;
  align-items: center;
  width: 100%;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
  direction: rtl;
}
.embla__slide {
  position: relative;
  flex: 0 0 5rem;
}
.prev-button,
.next-button {
  display: none;

  @include mixins.breakpoint("1000") {
    display: block;
    position: absolute;
  }
}

.prev-button {
  top: 31px;
  left: -100px;
}

.next-button {
  top: 31px;
  right: -100px;
}
