// Breakpoints map for the breakpoint mixin 1em equals 16px

$breakpoints: (
  '1200':  75em,
  '1000' : 62.5em,
  '450' : 28.125em
);

@mixin breakpoint ($size){
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
    
}


.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

