@keyframes fade-in {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  25% {
    transform: translateY(-2rem);
    opacity: 0.1;
  }

  50% {
    transform: translateY(-1rem);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  animation: fade-in 900ms linear;
  transition: visibility 0s linear 0s, opacity 300ms, fade-in;
}