@use "../abstracts/variables";
@use "../abstracts/mixins";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;700&display=swap');

:root {
  color: variables.$text-color;
  background-color: variables.$background-color;
  font-family: "Zilla Slab", serif;
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}
html,
body,
.App,
#root {
  height: 100%;
}

.basePadding {
  padding: 0 2rem;
  @include mixins.breakpoint("660") {
    padding: 0;
  }
}

@include mixins.breakpoint("1200") {
  @media (hover: hover) {
    .underline-hover-effect {
      padding-bottom: 0.1rem; /* defines the space between text and underline */
      position: relative;
    }

    .underline-hover-effect::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #00c3ff;
      transition: width 0.25s ease-out;
    }
    .underline-hover-effect:hover::before {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

section {
  @extend %centerColumn;
  justify-content: center;
}
